body {
    margin: 0;
    padding: 0;
    background-color: #C6FF3A;
    background: linear-gradient(#C6FF3A,#69c542);
    /* background-image: url("../images/paper.webp"); */
    background-blend-mode: soft-light;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
}

.headerBox{
    width: 1440px;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    transition: all 0.5s ease;
    animation: rotateLogo 3s linear infinite;
}

.logo:hover {
    animation-play-state: paused;
}

@keyframes rotateLogo {
    0% {
      transform: rotate(0deg);
      margin: 0;
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: 'LjStudiosMb', sans-serif;
}

.links a{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: initial 1s;
}

.heroBox{ 
    margin-bottom: 150px;
}

.socials {
    display: flex;
    gap: 15px;
}

.links a:hover{
    opacity: 0.8;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.heroImg {
    width: 100%;
    /* width: 1400px; */
    /* border-radius: 50px; */
}

.horizontalImg {
    width: 1000px;
}


#about {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}

.aboutImageBox {

}

.aboutImg {
    width: 700px;
}

.aboutInfo {
    margin-top: -10px;
    border-radius: 50px;
    background-color: #222222;
    padding: 50px 20px 50px 20px;
    max-width: 1400px;
    text-align: center;
    transition: all 1s;
    margin-left: 20px;
    margin-right: 20px;
}

.aboutInfo:hover {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.aboutInfo p{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
}

#tokenomics{
    margin-bottom: 150px;
}

.tokenomicsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.tokenomicsImg {
    /* width: 30%; */
    width: 1000px;
    position: relative;
    right: 0;
}

.tokenomicsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tokenomicsHeader h2{
    font-family: 'LjStudiosMb', sans-serif;
    font-size: 125px;
    line-height: 125px;
    font-weight: 600;
}

.tokenomicsInfo {
    margin-top: -10px;
    border-radius: 50px;
    background-color: #222222;
    padding: 50px 20px 50px 20px;
    max-width: 1400px;
    text-align: center;
    transition: all 1s;
    margin-left: 20px;
    margin-right: 20px;
}

.tokenomicsInfo:hover {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.tokenomicsInfo p{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
}

.footerImg {
    width: 100%;
}

footer {
    margin: 0;
    padding: 0;
}

#roadmap {
    /* padding: 100px; */
    margin-bottom: 150px;
}

.roadmapContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.roadmapHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roadmapHeader h2{
    font-family: 'LjStudiosMb', sans-serif;
    font-size: 125px;
    line-height: 125px;
    font-weight: 600;
}

.roadmapMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1400px;
}

.roadmapBigBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.roadmapBigBox h3{
    font-size: 50px;
    font-family: 'LjStudiosMb', sans-serif;
    font-weight: 600;
}

.roadmapBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    padding: 30px;
    background-color: #222222;
    color: #fff;
    width: 400px;
    min-height: 475px;
    max-height: 575px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    line-height: 40px;
    transition: all 1s;
}

.roadmapBox:hover {
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.roadmapBox li {
    list-style: circle;
}

#afterword{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    font-family: 'LjStudiosMb', sans-serif;
    margin-bottom: 150px;
}

#afterword h2{
    font-weight: 700;
    font-size: 100px;
}

#afterword a{
    text-decoration: none;
    color: #000;
}

#afterword a:hover{
    opacity: 0.8;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.poweredBy {
    color: #F85AA1;
    transition: all 0.5s ease;
    animation: poweredAnim 3s linear infinite;
}

@keyframes poweredAnim {
    0% {
      text-shadow: none;
    }
    25% {
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    50% {
        text-shadow: none;
    }
    75% {
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    100% {
        text-shadow: none;
    }
}

::selection {
    color: #aaaaaa;
    background-color: rgb(255, 255, 255);
} 

@font-face {
    font-family: "LjStudiosMb"; 
    src: url("../fonts/LjStudiosMb.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7ED957;
    outline: 1px solid #518b38;
}

/* font-family: 'LjStudiosMb', sans-serif; */